{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}


{% block page_content %}
    <div class="right_col" role="main">
        <div class="">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="x_title">
                            <h3>Movimento de Munições</h3>
                            <a class="btn btn-primary" role="button" href="{{ path('mapa_movimento_municao_manual') }}">
                                Importar Tiny</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% form_theme form 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(form) }}
                            {{ form_errors(form) }}


                            <div class="row">
                                <div class="col-md-5">
                                    {{ form_row(form.cliente) }}
                                    <label id="label_cliente"></label>
                                </div>
                                <div class="col-md-5">
                                    {{ form_row(form.produto) }}
                                    <label id="label_produto"></label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.mes) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.ano) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    {{ form_row(form.registro) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.qtde) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.tipoMov) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    {{ form_row(form.docFiscal) }}
                                </div>
                            </div>
                            <button class="btn btn-default" type="submit">Salvar</button>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


 {% block javascripts %}

     <script>
         $('#form_cliente').autocomplete({
             source: function (request, response) {
                 $.ajax({
                     url: "/request/mapa/cliente",
                     data: {nome: request.term},
                     success: response,
                     contentType: "application/json; charset=utf-8",
                     dataType: 'json'
                 });
             },
             focus: function (event, ui) {
                 $('#form_cliente').val(ui.item.value);
                 return false;
             },
             select: function (event, ui) {
                 $('#label_cliente').html(ui.item.label);
                 return false;
             },
             minLength: 2,
             delay: 1000,
         });
         $('#form_produto').autocomplete({
             source: function (request, response) {
                 $.ajax({
                     url: "/request/mapa/produto",
                     data: {codigo: request.term},
                     success: response,
                     dataType: 'json',
                 });
             },
             delay: 1000,
             minLength: 2,
             focus: function (event, ui) {
                 $('#form_produto').val(ui.item.value);
                 return false;
             },
             select: function (event, ui) {
                 $('#label_produto').html(ui.item.label);
                 return false;
             }
         });

     </script>
 {% endblock %}







