{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}


{% block page_content %}
    <div class="col-md-12">

        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-default" type="submit">Salvar</button>
                {{ form_end(form) }}

            </div>
        </div>

    </div>
{% endblock %}


 {% block javascripts %}

     <script src="{{ asset('vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
     <script src="{{ asset('vendors/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js') }}"></script>
     <script>
         $.fn.datepicker.defaults.format = "d/m/yyyy";
         $.fn.datepicker.defaults.language = "pt-BR"
         $('.date').datepicker();
     </script>
 {% endblock %}







