{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}

{% block page_content_header %}
    <div class="col-sm-6">
        <h1 class="m-0">Consulta Clientes</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Mapa</li>
            <li class="breadcrumb-item">Consultas</li>
            <li class="breadcrumb-item">Clientes</li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">

        <table class="table table-striped table-condensed" id="TabelaClientes">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Fone</th>
                <th>Endereço</th>
                <th>Numero</th>
                <th>Compl</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>CEP</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in clientes %}
                <tr>
                    <th scope="row">{{ cliente.id }}</th>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf|replace({'.': '', '-': ''}) }}</td>
                    <td>{{ cliente.telefone }}</td>
                    {% if cliente.endereco is not null %}
                        <td>{{ cliente.endereco.endereco }}</td>
                        <td>{{ cliente.endereco.numero }}</td>
                        <td>{{ cliente.endereco.complemento }}</td>
                        <td>{{ cliente.endereco.bairro }}</td>
                        <td>{{ cliente.endereco.cidade }}</td>
                        <td>{{ cliente.endereco.cep }}
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

     <script>
         $(document).ready(function () {
             $('#TabelaClientes').DataTable({
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                 },
             });
             document.getElementById("link_mapa_consulta_clientes").className = "nav-link active";
             document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_sub_consultas").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_active").className = "nav-link active";
         });
     </script>
 {% endblock %}