{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}
{% block page_content_header %}
    <div class="col-sm-6">
        <h1 class="m-0">Consulta Produtos PCE</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Mapa</li>
            <li class="breadcrumb-item">Consultas</li>
            <li class="breadcrumb-item">Produtos</li>
        </ol>
    </div><!-- /.col -->
    <div style="position: fixed;left: 90%;bottom: 8%;z-index: 10">
        <a href="{{ path('mapa_novo_produto') }}"><i class="fas fa-3x fa-plus-circle"></i></a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="col-md-12">

        <table class="table table-striped" id="TabelaProdutos">
            <thead>
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Calibre</th>
            </tr>
            </thead>
            <tbody>
            {% for produto in produtos %}
                <tr>
                    <th scope="row">{{ produto.id }}</th>
                    <td>{{ produto.codigo }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.tipoProd }}
                    <td>{{ produto.calibre.descricao }}</td>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

     <script>
         $(document).ready(function () {
             $('#TabelaProdutos').DataTable({
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                 },
             });
             document.getElementById("link_mapa_consulta_produto").className = "nav-link active";
             document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_sub_consultas").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_active").className = "nav-link active";
         });
     </script>
 {% endblock %}