{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"/>
{% endblock %}


{% block style %}

{% endblock %}
{% block page_content_header %}
    <div class="col-sm-3">
        <h3 class="m-0">Registros Pedidos</h3>
    </div><!-- /.col -->

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Mapa</a></li>
            <li class="breadcrumb-item"><a>Pedidos</a></li>
            <li class="breadcrumb-item"><a>Registros</a></li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input id="dtini" type="text" class="form-control" data-inputmask-alias="datetime"
                               data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric"
                               value="01/12/2022">
                    </div>

                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input id="dtfin" type="text" class="form-control" data-inputmask-alias="datetime"
                               data-inputmask-inputformat="dd/mm/yyyy" data-mask="dd/mm/yyyy" inputmode="numeric"
                               value="01/12/2022">
                    </div>

                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <button id="btnBuscar" class="btn btn-primary">Buscar</button>
                <img id="loading" src="{{ asset('images/curves.gif') }}">
            </div>
        </div>

        <div>
            <table id="tblPedidos" class="table table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Pedido</th>
                    <th>Data</th>
                    <th>Cliente</th>
                    <th>Registro</th>
                    <th>Integração</th>
                </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
        </div>

    </div>
{% endblock %}


 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
     <script>
         // var tabela = document.getElementById('tblPedidos').getElementsByTagName('tbody')[0];
         var t = $('#tblPedidos').DataTable({
             scrollY: '400px',
             scrollCollapse: true,
             paging: false,
             "language": {
                 "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
             }
         });
         $("#btnBuscar").click(function () {
             t.clear().draw();
             $.ajax({
                 url: "/mapa/pedidos/registros",
                 type: "POST",
                 data: {
                     'dtInicial': $('#dtini').val(),
                     'dtFinal': $('#dtfin').val()
                 },
                 success: function (pedidos) {

                     jQuery.each(pedidos, function (i, val) {
                         console.log(val)
                         t.row.add([
                             val['pedido']['id'],
                             val['pedido']['numero'],
                             val['pedido']['data_pedido'],
                             val['pedido']['nome'],
                             '<textarea onchange="onChangeTextArea(' + val['pedido']['id'] + ',this)" class="form-control" rows=3>'
                             + val['pedido']['obs_interna'] + '</textarea ></td></tr>',
                             val['pedido']['integracao']
                         ]).draw(false);

                     });
                 },
             });
         });

         function onChangeTextArea(id, el) {
             $(el).animate({
                 backgroundColor: "#F4F6F9",
                 color: "#000"
             }, 1000);
             $.ajax({
                 url: "/mapa/pedidos/atualiza/registro",
                 type: "POST",
                 dataType: "json",
                 data: {
                     "id": id,
                     "registro": $(el).val()
                 },
                 statusCode: {
                     200: function () {
                         $(el).animate({
                             backgroundColor: "#17A2B8",
                             color: "#000"
                         }, 1000);
                     },
                     400: function () {
                         $(el).animate({
                             backgroundColor: "#DC3545",
                             color: "#000"
                         }, 1000);
                     },
                     404: function () {
                         toastr.error('Alterações não foram salvas')
                     },
                     500: function () {
                         toastr.error('Servidor retornou erro 500')
                     },
                 }

             })
         }

         $(document).ajaxStart(function () {
             $('#loading').show();
         });
         $(document).ajaxComplete(function () {
             $('#loading').hide();
         });

         function insereLinha(pedido) {
             console.log(pedido)
             var row = tabela.insertRow();
             var cell1 = row.insertCell();
             var cell2 = row.insertCell();
             var cell3 = row.insertCell();
             var cell4 = row.insertCell();
             var cell5 = row.insertCell();
             cell1.innerHTML = pedido.pedido.id;
             cell2.innerHTML = pedido.pedido.numero;
             cell3.innerHTML = pedido.pedido.data_pedido;
             cell4.innerHTML = pedido.pedido.nome;
             cell5.innerHTML = "<input value='" + pedido.pedido.obs_interna + "'></input>";
         }
     </script>

 {% endblock %}







