{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}
{% block page_content_header %}
    <div class="col-sm-6">
        <h1 class="m-0">Consulta Calibres</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Mapa</li>
            <li class="breadcrumb-item">Consultas</li>
            <li class="breadcrumb-item">Calibres</li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">

        <table class="table table-striped" id="TabelaCalibres">
            <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Tipo</th>
            </tr>
            </thead>
            <tbody>
            {% for calibre in calibres %}
                <tr>
                    <th scope="row">{{ calibre.id }}</th>
                    <td>{{ calibre.descricao }}</td>
                    <td>{{ calibre.tipoCalibre }}</td>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

     <script>
         $(document).ready(function () {
             $('#TabelaCalibres').DataTable({
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                 },
             });
             document.getElementById("link_mapa_consulta_calibre").className = "nav-link active";
             document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_sub_consultas").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_active").className = "nav-link active";
         });
     </script>
 {% endblock %}