{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}
{% block page_content_header %}
    <div class="col-sm-6">
        <h3 class="m-0">Importação movimento PCE</h3>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Mapa</a></li>
            <li class="breadcrumb-item"><a>Processos</a></li>
            <li class="breadcrumb-item"><a>Importação</a></li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12 offset-1">
        <div class="row">
            <div class="col-md-4">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        <br>
        <div class="row">
            <div class="col-md-1">
                <label>Pedido/NF</label>
            </div>
            <div class="col-md-3">
                {{ form_row(form.numero) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label>Movimento</label>
            </div>
            <div class="col-md-3">
                {{ form_row(form.tipoMov) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label>PCE</label>
            </div>
            <div class="col-md-3">
                {{ form_row(form.tipoPCE) }}
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 offset-3">
                {{ form_row(form.Importar) }}
            </div>
        </div>
        {{ form_end(form) }}

        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li>Saida/munição: Pedido</li>
                    <li>Saida/Arma: NF</li>
                    <li>Entradas: NF</li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}


 {% block javascripts %}


     <script type="text/javascript">
         $('document').ready(function () {
             document.getElementById("link_mapa_mov_municao_manual").className = "nav-link active";
             document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_sub_processos").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_active").className = "nav-link active";
         });
     </script>
 {% endblock %}







