{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block page_content_header %}
    <div class="col-sm-6">
        <h3 class="m-0">Controle de Munições</h3>
    </div><!-- /.col -->

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Mapa</a></li>
            <li class="breadcrumb-item"><a>Controle</a></li>
            <li class="breadcrumb-item"><a>Armas</a></li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-dark">
                    <span class="info-box-icon"><i class="far fa-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Mês&nbsp{{ parametro.mesAbertoVendaArma }}</span>
                        <span class="info-box-number">Ano&nbsp{{ parametro.anoAbertovendaArma }}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                        Em aberto
                    </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-dark">
                    <span class="info-box-icon"><i class="far fa-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Data&nbsp{{ parametro.ultMovArma | date('d-m-y') }}</span>
                        <span class="info-box-number">Hora&nbsp{{ parametro.ultMovArma|format_datetime('none', 'short') }}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                        Ultimo movimento arma
                    </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-dark">
                    <span class="info-box-icon"><i class="far fa-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Data&nbsp{{ parametro.ultSaldoArma | date ('d-m-y') }}</span>
                        <span class="info-box-number">Hora&nbsp{{ parametro.ultSaldoArma | format_datetime('none', 'short') }}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                        Último calculo de estoque
                    </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-info btn-block disabled"
                   href="{{ path('mapa_movimento_armas_mes') }}">Movimentos</a>
            </div>

            <div class="col">
                <a class="btn btn-info btn-block disabled"
                   href="{{ path('mapa_armas_pendentes') }}">Mov. Pendentes</a>
            </div>

            <div class="col">
                <a class="btn btn-info btn-block disabled"
                   onclick="procInventory()">Calcular
                    Saldos</a>
            </div>

            <div class="col">
                <a class="btn btn-info btn-block disabled"
                   onclick="closeMonth()">Fechar
                    Mês</a>
            </div>

            <div class="col">
                <a class="btn btn-info btn-block disabled"
                   onclick="openMonth()">Reabir
                    Mês</a>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px; text-align: center">
            <h3>Inventário de Armas</h3>
        </div>
        <div class="col-md-12">
            <div class="loading" style="position: absolute;margin-left: 40%">
                <img src="{{ asset('images/Ripple-1s-200px.svg') }}">
            </div>
            <table id="saldos" class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Calibre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Saldo Inicial</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Saida</th>
                    <th scope="col">Saldo Final</th>
                </tr>
                </thead>
                <tbody id="movimentos">
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

 {% block javascripts %}

     <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
     <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

     <script type="text/javascript">
         document.getElementById("link_mapa_controle_arma").className = "nav-link active";
         document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_sub_processos").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_active").className = "nav-link active";
         $(document).ready(function () {
             getInventory();
         });

         var t = $('#saldos').DataTable({
             "language": {
                 "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
             },
         });

         function procInventory() {
             disabledButtons();
             $('.loading').show();
             $.ajax({
                 url: "/mapa/armas/saldos/calcular",
                 type: "GET",
                 dataType: "json",
                 statusCode: {
                   200 : function () {
                       toastr.info('Saldos calculados com sucesso');
                       getInventory();
                   },
                   404 :function () {
                       toastr.error('Impossível calcular saldo final');
                   },
                   500:function () {
                       toastr.error('Erro interno do servidor [500]');
                   },
                 }
             });
             enableButtons();
             $('.loading').hide();
         }

         function closeMonth() {

             bootbox.confirm({
                 message: "Deseja realmente encerrar o mês?",
                 buttons: {
                     confirm: {
                         label: 'Encerrar',
                         className: 'btn-success'
                     },
                     cancel: {
                         label: 'Cancelar',
                         className: 'btn-danger'
                     }
                 },
                 callback: function (result) {
                     if (result == true) {
                         disabledButtons();
                         $('.loading').show();
                         $.ajax({
                             url: "/mapa/armas/fechar/mes",
                             type: "GET",
                             dataType: "json",
                             statusCode: {
                                 200 : function () {
                                     toastr.info('Mês encerrado com sucesso')
                                     enableButtons();
                                 },
                                 404 :function () {
                                     toastr.error('Impossível encerrar o mês')
                                 },
                                 500:function () {
                                     toastr.error('Erro interno do servidor [500]')
                                 },
                             }

                         })
                         $('.loading').hide();
                     }
                     ;
                 }
             });


         }

         function openMonth() {

             bootbox.confirm({
                 message: "Deseja realmente reabrir o mês anterior?",
                 buttons: {
                     confirm: {
                         label: 'Reabrir',
                         className: 'btn-success'
                     },
                     cancel: {
                         label: 'Cancelar',
                         className: 'btn-danger'
                     }
                 },
                 callback: function (result) {
                     if (result == true) {
                         $('.loading').show();
                         disabledButtons();
                         $.ajax({
                             url: "/mapa/armas/reabrir/mes",
                             type: "GET",
                             dataType: "json",
                             success: function (data, textStatus, xhr) {
                                 updateScreen();
                                 if (xhr.status == 200) {
                                     $('.loading').hide();
                                     new PNotify({
                                         title: 'Reabertura de mês',
                                         text: 'Mês reaberto com sucesso',
                                         type: 'info',
                                         styling: 'bootstrap3'
                                     });
                                 }
                             }
                         })
                     }
                     ;
                 }
             });
         }

         function loadInventory(saldosJson) {
             $('.loading').show();
             removeDataTable();
             jQuery.each(saldosJson, function (i, val) {
                 t.row.add([
                     val['id'],
                     val['calibre'],
                     val['tipo'],
                     val['saldoInicial'],
                     val['entrada'],
                     val['saida'],
                     val['saldoFinal']
                 ]).draw(false);
             });
         }

         function removeDataTable() {
             t.clear().draw();
         }

         function getInventory() {
             $.ajax({
                 url: "/mapa/estoque/armas/saldos",
                 type: "GET",
                 dataType: "json",
                 success: function (saldosJson, textStatus, xhr) {
                     loadInventory(saldosJson);
                 },
                 statusCode:{
                     404: function () {
                         toastr.error('Não existe saldo de estoque calculado para o mês atual')
                     },
                     500: function () {
                         toastr.error('Servidor retornou erro 500')
                     },
                 },
                 complete: function (xhr, textStatus) {
                     enableButtons();
                     $('.loading').hide();
                 }
             });
         }

         function getParameter() {
             $('#mes').text('Mês');
             $('#ano').text('Ano');
             $.ajax({
                 url: "/mapa/parametros/armas",
                 type: "GET",
                 dataType: "json",
                 success: function (parametros, textStatus, xhr) {
                     jQuery.each(parametros, function (i, val) {
                         $('#mes').text('Mês ' + val['mes']);
                         $('#ano').text('Ano ' + val['ano']);
                     });
                 },
                 error: function (jqXHR, textStatus, error) {
                     $('.loading').hide();
                 },
             });
         }

         function disabledButtons() {
             $('.btn').removeClass('active');
             $('.btn').addClass('disabled');
         }

         function enableButtons() {
             $('.btn').removeClass('disabled');
             $('.btn').addClass('active');
         }

         function updateScreen() {
             $('.loading').show();
             disabledButtons();
             getParameter();
             removeDataTable();
             getInventory();
         }
     </script>
 {% endblock %}