{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block page_content_header %}
    <div class="col-sm-6">
        <h1 class="m-0">Movimentos de Munição no Mês &nbsp{{ parametro.mesAberto }} / {{ parametro.anoAberto }}</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('mapa_controle_municao') }}">Mapa Controle</a></li>
            <li class="breadcrumb-item">Movimentos</li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        <div class="loading" style="position: absolute;margin-left: 40%">
            <img src="{{ asset('images/Ripple-1s-200px.svg') }}">
        </div>
        <table id="tabela_movimentos_municao" class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Cliente</th>
                <th scope="col">Produto</th>
                <th scope="col">Documento</th>
                <th scope="col">Qtde</th>
                <th scope="col">Registro</th>
            </tr>
            </thead>
            <tbody id="movimentos">
            </tbody>
        </table>

    </div>

{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>


     <script type="text/javascript">
         document.getElementById("link_mapa_controle_municao").className = "nav-link active";
         document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_sub_processos").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_active").className = "nav-link active";

         var t = $('#tabela_movimentos_municao').DataTable({
             "language": {
                 "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
             }
         });

         function onChangeTextArea(id, el) {
             $.ajax({
                 url: "/mapa/movimentos/update",
                 type: "PUT",
                 dataType: "json",
                 data: {
                     "id": id,
                     "registro": $(el).val()
                 },
                 statusCode: {
                     200: function () {
                         $(el).animate({
                             backgroundColor: "#00c9a7",
                             color: "#000"
                         }, 1000);
                     },
                     404: function () {
                         toastr.error('Alterações não foram salvas')
                     },
                     500: function () {
                         toastr.error('Servidor retornou erro 500')
                     },
                 }

             })
         }


         $(document).ready(function () {
             function onChangeTextArea(id, el) {

                 $(el).closest('td').fadeTo("slow", 0.5, function () {
                     $(this).remove();
                 });
             }

             $.ajax({
                 url: "/mapa/movimentos/mes",
                 type: "GET",
                 dataType: "json",
                 success: function (movimentosJson) {
                     jQuery.each(movimentosJson, function (i, val) {
                         // var row = '<tr><td style="text-align: center; vertical-align: middle;" scope="row">'
                         //     + val['id'] + '</td>'
                         //     + '<td style="vertical-align: middle;" scope="row">'
                         //     + val['cliente'] + '</td>'
                         //     + '<td style="vertical-align: middle;" scope="row">'
                         //     + val['produto'] + '</td>'
                         //     + '<td style="text-align: center; vertical-align: middle;" scope="row">'
                         //     + val['pedidoNota'] + '</td>'
                         //     + '<td style="text-align: center; vertical-align: middle;" scope="row">'
                         //     + val['qtde'] + '</td>'
                         //     + '<td style="text-align: center; vertical-align: middle;" scope="row"> ' +
                         //     '<textarea onchange="onChangeTextArea(' + val['id'] + ',this)" class="form-control" rows=3>'
                         //     + val['registro'] + '</textarea ></td></tr>';
                         // $('#movimentos').append(row);
                         t.row.add([
                             val['id'],
                             val['cliente'],
                             val['produto'],
                             val['pedidoNota'],
                             val['qtde'],
                             '<textarea onchange="onChangeTextArea(' + val['id'] + ',this)" class="form-control" rows=3>'
                             + val['registro'] + '</textarea ></td></tr>'

                         ]).draw(false);
                     });
                     $('.loading').hide();
                 },
                 error: function (xhr) {
                     $('.loading').hide();
                     new PNotify({
                         title: 'Erro',
                         text: xhr.statusText + ' : ' + xhr.status,
                         type: 'error',
                         styling: 'bootstrap3'
                     });
                 },

             })

         })
     </script>
 {% endblock %}