{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block page_content_header %}
    <div class="col-sm-6">
        <h3 class="m-0">Controle de Munições</h3>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Mapa</a></li>
            <li class="breadcrumb-item"><a>Controle</a></li>
            <li class="breadcrumb-item"><a>Munição</a></li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-dark">
                    <span class="info-box-icon"><i class="far fa-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" id="mes">Mês&nbsp{{ parametro.mesAberto }}</span>
                        <span class="info-box-number" id="ano">Ano&nbsp{{ parametro.anoAberto }}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            Em aberto
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-dark">
                    <span class="info-box-icon"><i class="far fa-hourglass"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ parametro.dataUltProcMov | date('d-m-y') }}</span>
                        <span class="info-box-number">Horário: {{ parametro.dataUltProcMov|format_datetime('none', 'short') }}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                  Último Movimento Calculado
                </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-dark">
                    <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ parametro.dataUltProcSaldo | date('d-m-y') }}</span>
                        <span class="info-box-number">Horário: {{ parametro.dataUltProcSaldo|format_datetime('none', 'short') }}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                  Último Saldo Calculado
                </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>


        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-info btn-block disabled"
                   href="{{ path('mapa_movimentos') }}">Movimentos</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info btn-block disabled" onclick="procInventory()">Calcular
                    Saldos</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-danger btn-block disabled"
                   onclick="closeMonth()">Fechar
                    Mês</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-danger btn-block disabled"
                   onclick="openMonth()">Reabir
                    Mês</a>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 20px; text-align: center">
        <h3>Inventáro de Munições</h3>
    </div>
    <div class="col-md-12">
        <div class="loading" style="position: absolute;margin-left: 40%">
            <img src="{{ asset('images/Ripple-1s-200px.svg') }}">
        </div>
        <table id="saldos" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Calibre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Saldo Inicial</th>
                <th scope="col">Entrada</th>
                <th scope="col">Saida</th>
                <th scope="col">Saldo Final</th>
            </tr>
            </thead>
            <tbody id="movimentos">
            </tbody>
        </table>
        <div class="jumbotron" style="display: none">
            <h1>Saldos indisponíveis!</h1>
            <p>A consulta não retornou nenhum registro para o mês em aberto.</p>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}

     <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
     <script type="text/javascript"
             src=" https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>


     <script type="text/javascript">
         var t = $('#saldos').DataTable({
             "language": {
                 "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
             },
         });
         document.getElementById("link_mapa_controle_municao").className = "nav-link active";
         document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_sub_processos").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_active").className = "nav-link active";
         $(document).ready(function () {

             getInventory();


         });

         function procInventory() {
             disabledButtons();
             $('.loading').show();
             $.ajax({
                 url: "/mapa/saldos/calcular",
                 type: "GET",
                 dataType: "json",
                 statusCode: {
                     404: function () {
                         toastr.error('Alterações não foram salvas');
                         $('.loading').hide();
                     },
                     500: function () {
                         toastr.error('Servidor retornou erro 500');
                         $('.loading').hide();
                     },
                     200: function () {
                         toastr.success('Saldos de inventário recalculados com sucesso');

                     }
                 },
                 success: function () {
                     $('.loading').hide();
                     enableButtons();
                     getInventory();
                 }
             })
         }

         function closeMonth() {

             bootbox.confirm({
                 message: "Deseja realmente encerrar o mês?",
                 buttons: {
                     confirm: {
                         label: 'Encerrar',
                         className: 'btn-success'
                     },
                     cancel: {
                         label: 'Cancelar',
                         className: 'btn-danger'
                     }
                 },
                 callback: function (result) {
                     if (result == true) {
                         disabledButtons();
                         $('.loading').show();
                         $.ajax({
                             url: "/mapa/fechar/mes",
                             type: "GET",
                             dataType: "json",
                             success: function (data, textStatus, xhr) {
                                 updateScreen();
                                 toastr.success('Mês fechado com sucesso');
                             },
                             statusCode: {
                                 404: function () {
                                     toastr.error('Alterações não foram salvas');
                                     $('.loading').hide();
                                 },
                                 500: function () {
                                     toastr.error('Servidor retornou erro 500');
                                     $('.loading').hide();
                                 },
                             }
                         })
                     }
                     ;
                 }
             });


         }

         function openMonth() {

             bootbox.confirm({
                 message: "Deseja realmente reabrir o mês anterior?",
                 buttons: {
                     confirm: {
                         label: 'Reabrir',
                         className: 'btn-success'
                     },
                     cancel: {
                         label: 'Cancelar',
                         className: 'btn-danger'
                     }
                 },
                 callback: function (result) {
                     if (result == true) {
                         $('.loading').show();
                         disabledButtons();
                         $.ajax({
                             url: "/mapa/reabrir/mes",
                             type: "GET",
                             dataType: "json",
                             success: function (data, textStatus, xhr) {
                                 updateScreen();
                                 if (xhr.status == 200) {
                                     $('.loading').hide();
                                     toastr.success('Mês reaberto com sucesso');
                                 }
                             }
                         })
                     }
                     ;
                 }
             });
         }

         function loadInventory(saldosJson) {
             $('.loading').show();
             removeDataTable();
             jQuery.each(saldosJson, function (i, val) {
                 t.row.add([
                     val['id'],
                     val['calibre'],
                     val['tipo'],
                     val['saldoInicial'],
                     val['entrada'],
                     val['saida'],
                     val['saldoFinal']
                 ]).draw(false);
             });
         }

         function removeDataTable() {
             t.clear().draw();
         }

         function getInventory() {
             $.ajax({
                 url: "/mapa/estoque/saldos",
                 type: "GET",
                 dataType: "json",
                 success: function (saldosJson, textStatus, xhr) {
                     loadInventory(saldosJson);

                 },
                 complete: function (xhr, textStatus) {
                     enableButtons();
                     $('.loading').hide();

                 },
                 statusCode: {
                     404: function () {
                         // toastr.error('Não há saldo calculado para o mês atual, calculando automaticamente');
                         $('.loading').hide();
                         procInventory();
                         getInventory();
                     },
                     500: function () {
                         toastr.error('Servidor retornou erro 500');
                         $('.loading').hide();
                     },
                 }
             });
         }

         function getParameter() {
             $('#mes').text('Mês');
             $('#ano').text('Ano');
             $.ajax({
                 url: "/mapa/parametros",
                 type: "GET",
                 dataType: "json",
                 success: function (parametros, textStatus, xhr) {
                     console.log(parametros);

                     jQuery.each(parametros, function (i, val) {
                         $('#mes').text('Mês ' + val['mes']);
                         console.log(val['mes']);
                         $('#ano').text('Ano ' + val['ano']);
                     });

                 },
                 error: function (jqXHR, textStatus, error) {

                     $('.loading').hide();

                 },
             });
         }


         function disabledButtons() {
             $('.btn').removeClass('active');
             $('.btn').addClass('disabled');
         }

         function enableButtons() {
             $('.btn').removeClass('disabled');
             $('.btn').addClass('active');
         }

         function updateScreen() {
             $('.loading').show();
             disabledButtons();
             getParameter();
             removeDataTable();
             getInventory();


         }


     </script>
 {% endblock %}