{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}

{% block page_content_header %}
    <div class="col-sm-3">
        <h3 class="m-0">Armas Pendentes</h3>
    </div><!-- /.col -->

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Mapa</a></li>
            <li class="breadcrumb-item" ><a href="{{ path('mapa_controle_armas') }}">Controle</a></li>
            <li class="breadcrumb-item"><a>Armas</a></li>
        </ol>
    </div><!-- /.col -->
{% endblock %}


{% block page_content %}
    <div class="col-md-12">
        <div class="row">
            <div class="loading" style="position: absolute;margin-left: 40%">
                <img src="{{ asset('images/Ripple-1s-200px.svg') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="saldos" class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Data</th>
                        <th scope="col">Mês/Ano</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Serie</th>
                        <th scope="col">Qtde</th>
                    </tr>
                    </thead>
                    <tbody id="movimentos">
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}


 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
     <script type="text/javascript"
             src=" https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

     <script>
         document.getElementById("link_mapa_controle_arma").className = "nav-link active";
         document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_sub_processos").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_active").className = "nav-link active";
         var t = $('#saldos').DataTable({
             "language": {
                 "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
             },
         });
         $('#saldos').css('display','table');

         function onChangeInput(id, el) {
             console.log(id);
             console.log($(el).val());
             $.ajax({
                 url: "/mapa/movimento/arma",
                 type: "PUT",
                 dataType: "json",
                 data: {
                     "id": id,
                     "data": $(el).val()
                 },
                 success: function (update) {
                     $(el).animate({
                         backgroundColor: "#DBEBC0",
                         color: "#000"
                     }, 1000);
                 }
             })
         }


         $(document).ready(function () {
             $.ajax({
                 url: "/mapa/movimento/armas/pendentes",
                 type: "GET",
                 dataType: "json",
                 success: function (movimentosJson) {
                     jQuery.each(movimentosJson, function (i, val) {
                         var row = '<tr><td scope="row">' + val['id'] + '</td>'

                             + '<td scope="row" class="text-center">' + val['data'] + '</td>'
                             + '<td scope="row">' +
                             '<input class="form-control" type="text" onchange="onChangeInput(' + val['id'] + ',this)" placeholder="mm/aaaa">' +
                             '</input>' + '</td>'
                             + '<td scope="row">' + val['cliente'] + '</td>'
                             + '<td scope="row">' + val['produto'] + '</td>'
                             + '<td scope="row">' + val['serie'] + '</td>'
                             + '<td scope="row" class="text-center">' + val['qtde'] + '</td></tr>'
                         $('#movimentos').append(row);
                     });
                     $('.loading').hide();
                 },
                 error: function (xhr) {
                     $('.loading').hide();
                     new PNotify({
                         title: 'Erro',
                         text: xhr.statusText + ' : ' + xhr.status,
                         type: 'error',
                         styling: 'bootstrap3'
                     });
                 },

             })

         })
     </script>
 {% endblock %}







