{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block page_content_header %}
    <div class="col-sm-6">
        <h3 class="m-0">Movimentos de armas &nbsp{{ parametro.mesAbertoVendaArma }}
            / {{ parametro.anoAbertovendaArma }}</h3>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Mapa</a></li>
            <li class="breadcrumb-item"><a href={{ path('mapa_controle_armas') }}>Controle</a></li>
            <li class="breadcrumb-item"><a>Armas</a></li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}

    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Cliente / Fornecedor</th>
            <th scope="col">E/S</th>
            <th scope="col">Produto</th>
            <th scope="col">Qtde</th>
            <th scope="col">Série</th>
        </tr>
        </thead>
        <tbody id="movimentos">
        </tbody>
    </table>

{% endblock %}

 {% block javascripts %}

     <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
     <script type="text/javascript"
             src=" https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>


     <script type="text/javascript">
         document.getElementById("link_mapa_controle_arma").className = "nav-link active";
         document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_sub_processos").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_mapa_active").className = "nav-link active";

         function onChangeTextArea(id, el) {
             $.ajax({
                 url: "/mapa/movimento/arma/serie",
                 type: "PUT",
                 dataType: "json",
                 data: {
                     "id": id,
                     "serie": $(el).val()
                 },
                 success: function (update) {
                     $(el).animate({
                         backgroundColor: "#DBEBC0",
                         color: "#000"
                     }, 1000);
                 }
             })
         }


         $(document).ready(function () {
             $.ajax({
                 url: "/mapa/movimentos/mes/armas",
                 type: "GET",
                 dataType: "json",
                 success: function (movimentosJson) {
                     jQuery.each(movimentosJson, function (i, val) {
                         var row = '<tr><td scope="row">' + val['id'] + '</td>'
                             + '<td scope="row" class="text-nowrap">' + val['dataFiscal'] + '</td>'
                             + '<td scope="row">' + val['cliente'] + '</td>'
                             + '<td scope="row">' + val['entSaida'] + '</td>'
                             + '<td scope="row">' + val['produto'] + '</td>'
                             + '<td scope="row" class="text-center">' + val['qtde'] + '</td>'
                             + '<td scope="row"> <textarea onchange="onChangeTextArea(' + val['id'] + ',this)" class="form-control" rows=3>' + val['serie'] + '</textarea ></td></tr>';
//
                         $('#movimentos').append(row);
                     });
                     $('.loading').hide();
                 },
                 error: function (xhr) {
                     $('.loading').hide();
                     new PNotify({
                         title: 'Erro',
                         text: xhr.statusText + ' : ' + xhr.status,
                         type: 'error',
                         styling: 'bootstrap3'
                     });
                 },

             })

         })
     </script>
 {% endblock %}