{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}

{% block page_content_header %}
    <div class="col-sm-6">
        <h1 class="m-0">Mapa Relatórios Munição</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Mapa</li>
            <li class="breadcrumb-item">Relatórios</li>
            <li class="breadcrumb-item">Munição</li>
        </ol>
    </div><!-- /.col -->
{% endblock %}


{% block page_content %}
    <div class="col-md-12">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}


        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        <div class="row" style="margin-left: 10px">
            <div class="col-md-5">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-default" type="submit">Gerar</button>
                {{ form_end(form) }}

            </div>
        </div>

    </div>

{% endblock %}


 {% block javascripts %}

     <script src="{{ asset('vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
     <script src="{{ asset('vendors/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js') }}"></script>
     <script>
         $('document').ready(function () {
             document.getElementById("link_mapa_rel_municao").className = "nav-link active";
             document.getElementById("nav_mapa").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_sub_relatorios").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_mapa_active").className = "nav-link active";
             $.fn.datepicker.defaults.format = "d/m/yyyy";
             $.fn.datepicker.defaults.language = "pt-BR"
             $('.date').datepicker();
         });

     </script>
 {% endblock %}







