{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}


{% block page_content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>MAPA SFPC - Exército</h3>
            </div>
            {{ form_start(form) }}
            <div class="title_right">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2 form-group pull-right top_search">
                        <div class="input-group">
                            {{ form_widget(form.ano,{'attr': {'class': 'form-control text-center'}}) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 form-group pull-right top_search">
                        <div class="input-group">
                            {{ form_widget(form.mes,{'attr': {'class': 'form-control text-center'}}) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_panel">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="x_title">
                        <h4>Demonstrativo de Vendas de Armas</h4>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        {#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <h5 class="text-center">Nome/Endereço</h5>
                            </div>
                            <div class="hidden col-md-2 col-sm-2 col-xs-2">
                                <h5 class="text-center">CPF</h5>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <h5 class="text-center">Produto</h5>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <h5>Fabricante/Data</h5>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <h5>Serial/NF</h5>
                            </div>

                        </div>


                        {% for nota in form.notas %}
                            <div class="row x_panel" style="background: #F7F7F7" >

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="input-group">
                                        {{ form_widget(nota.nome,{'attr': {'class': 'input-sm form-control'}}) }}
                                    </div>
                                </div>
                                <div class="hidden col-md-2 col-sm-2 col-xs-2">
                                    <div class="input-group">
                                        {{ form_widget(nota.cpf,{'attr': {'class': 'input-sm form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="input-group">
                                        {{ form_widget(nota.produto,{'attr': {'class': 'input-sm form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="input-group">
                                        {{ form_row(nota.fabricante,{'attr': {'class': 'input-sm form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="input-group">
                                        {{ form_row(nota.serial,{'attr': {'class': 'input-sm form-control'}}) }}
                                    </div>
                                </div>


                                <div class=" col-md-7 col-sm-7 col-xs-7">
                                    <div class="input-group">
                                        {{ form_row(nota.endereco,{'attr': {'class': 'input-sm form-control'}}) }}
                                    </div>
                                </div>
                                <div class=" col-md-2 col-sm-2 col-xs-2">
                                    <div class="input-group">
                                        {{ form_row(nota.data,{'attr': {'class': 'input-sm form-control'}}) }}
                                    </div>
                                </div>
                                <div class=" col-md-3 col-sm-3 col-xs-3">
                                    <div class="input-group">
                                        {{ form_row(nota.notafiscal,{'attr': {'class': 'input-sm form-control'}}) }}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        <button type="submit" class="btn btn-default">Gerar</button>

                        {{ form_end(form) }}


                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}


    {% block javascripts %}


    {% endblock %}







