<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Venda Arma - Inventário - {{ mes }}-{{ ano }} </title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('dist/css/print.css') }}"/>


</head>

<body>


<div class="container-fluid">
    <div class="row" style="margin: 0mm 0.2mm 0 0.2mm">
        <div class="col-2 border border-default">
            <p>CR nº</p>
        </div>
        <div class="col-6 border border-default">
            <p>97465</p>
        </div>
        <div class="col-2 ">
            <p></p>
        </div>
        <div class="col-1 border border-default">
            <p>Mês</p>
        </div>
        <div class="col-1 border border-default">
            <p>{{ mes }}/{{ ano }}</p>
        </div>
    </div>
    <div class="row" style="margin: 0mm 0.2mm 0 0.2mm">
        <div class="col-2 border border-default">
            <p>Empresa</p>
        </div>
        <div class="col-6 border border-default">
            <p>Miguel Pescador Comércio de Caça e Pesca Ltda</p>
        </div>
    </div>
    <div class="row" style="margin: 0mm 0.2mm 0 0.2mm">
        <div class="col-2 border border-default">
            <p>Endereço</p>
        </div>
        <div class="col-6 border border-default">
            <p>Av. Andrade Neves, 1011, Campinas</p>
        </div>
    </div>
    <br/>
    <h2 class="text-center">Movimentações de Munições</h2>
    <br/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Calibre</th>
            <th scope="col">Espécie</th>
            <th scope="col">Estoque Inicial</th>
            <th scope="col">Entradas</th>
            <th scope="col">Saidas</th>
            <th scope="col">Estoque Final</th>
        </tr>
        </thead>
        <tbody>

        {% for inv in inventario %}
            <tr>
                <th>{{ inv.calibre.descricao }}</th>
                <th class="text-center">{{ inv.calibre.tipoCalibre }}</th>
                <th class="text-center">{{ inv.qtdeInicial }}</th>
                <th class="text-center">{{ inv.entrada }}</th>
                <th class="text-center">{{ inv.saida }}</th>
                <th class="text-center">{{ inv.qtdeFinal }}</th>
            </tr>
        {% endfor %}


        </tbody>
    </table>
    <div class="row spacer2cm">
        <div class="assinatura">
            <span>Campinas, {{ data |format_datetime('full', 'none')}}</span>
        </div>
    </div>

    <div class="row">
        <div class="assinatura" style="position: absolute">
            <img  src="{{ asset('images/assinatura.png') }}" width="150" height="150">
        </div>
    </div>

    <div class="row" >
        <div class="assinatura" style="margin-top: 53px">
            <span >_____________________________________________</span>
        </div>
    </div>
    <div class="row">
        <div class="assinatura">
            <span >Miguel Pescador Comércio de Caça e Pesca Ltda.</span>

        </div>
    </div>
    <div id="rodape"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>
</html>