{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block page_content_header %}
    <div class="col-sm-6">
        <h1 class="m-0">Etiquetas Vara por Notas Fiscais</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('ListaNFVaras') }}">Lista NF</a></li>
            <li class="breadcrumb-item">Imprimir Etiqueta</li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        {% form_theme form 'bootstrap_3_layout_small.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="table-responsive">
            <table class="table table-condensed ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>


                {% for etiqueta in form.etiquetas %}

                    <tr>
                        <th>{{ form_row(etiqueta.idProduto, { 'label':false, 'attr':{'readonly':'true','style':'max-width: 25ch'} }) }}</th>
                        <th>{{ form_row(etiqueta.codigo, { 'label':false, 'attr':{'readonly':'true','style':'max-width: 25ch'} }) }}</th>
                        <td>{{ form_row(etiqueta.descricao, {'label':false, 'attr':{'readonly':'true','style':'width: 55ch'} }) }}</td>
                        <td>{{ form_row(etiqueta.preco, { 'label':false,'attr':{'readonly':'true'} }) }}</td>
                        <td>{{ form_row(etiqueta.qtde, { 'label':false, 'attr':{'style':'width: 15  ch'}}) }}</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="form-check float-right" id="div-check">
            <input type="checkbox" id="zerarCheckBox" class="form-check-input " id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Zerar Quantidades?</label>
        </div>
        <br>
        <div class="float-right" style="align-content: center">
            {{ form_widget(form.Imprimir,{'label':'Imprimir Etiquetas'}) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}


 {% block javascripts %}
     <script>
         document.getElementById("link_etiqueta_vara_nf").className = "nav-link active";
         document.getElementById("nav_etiquetas").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_etiquetas_active").className = "nav-link active";
         $("#zerarCheckBox").click(function (event) {
             $("input[name*='qtde']").each(function () {
                 $(this).val("0");
             });
             $("#div-check").fadeOut(600, function () {
                 $(this).remove();
             });
         });
     </script>
 {% endblock %}