{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}

{% block page_content_header %}
    <div class="col-sm-6">
        <h1 class="m-0">Etiquetas Vara por Notas Fiscais</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Etiquetas NF</li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">

        <table data-order='[[ 0, "desc" ]]' class="table table-striped" id="TabelaNotas">
            <thead>
            <tr>
                <th>#ID</th>
                <th>Nota Fiscal</th>
                <th>Fornecedor</th>
                <th>Total</th>
                <th>Data</th>
                <th>Imprimir Etiqueta</th>
            </tr>
            </thead>
            <tbody>
            {% for nota in notas %}
                <tr>
                    <th scope="row">{{ nota.idnf }}</th>
                    <td>{{ nota.nota }}</td>
                    <td class="text-uppercase">{{ nota.fornecedor }}</td>
                    <td>{{ nota.total|format_currency('BRL')  }}</td>
                    <td>{{ nota.data }}</td>
                    <td style="text-align: center"><a
                                href="{{ path('ImprimirEtiquetaVaraNF',{'nota':nota.idnf}) }}">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}


 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>
     <script>
         $(document).ready(function () {
             $('#TabelaNotas').DataTable({
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                 },
             });
             $(document).ready(function () {
                 document.getElementById("link_etiqueta_vara_nf").className = "nav-link active";
                 document.getElementById("nav_etiquetas").className = "nav-item menu-is-opening menu-open";
                 document.getElementById("nav_etiquetas_active").className = "nav-link active";
             });
         });
     </script>
 {% endblock %}