{% extends 'base.html.twig' %}

{% block stylesheets %}


{% endblock %}
{% block page_content_header %}
    <div class="col-sm-6">
        <h3 class="m-0">Etiqueta Produto Avulso</h3>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Etiqueta Avuso</a></li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class=" clearfix">
            <a href="{{ path('EtiquetaProdutoAvulso') }}" class="float-right btn btn-secondary" tabindex="-1" role="button">Reiniciar
                &nbsp;
                <i class="fas fa-redo"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-2">
                <span>ID</span>
            </div>
            <div class="col-2">
                <span>Código</span>
            </div>
            <div class="col-3">
                <span>Desc. Etiqueta</span>
            </div>
            <div class="col-2">
                <span>Preço</span>
            </div>
            <div class="col-1">
                <span>Quantidade</span>
            </div>
        </div>
        {% form_theme form 'bootstrap_4_layout.html.twig'  'collection_widget.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>


{% endblock %}


 {% block javascripts %}

     <script src="{{ asset('js/jquery.collection.js') }}"></script>
     <script type="text/javascript">
         $('document').ready(function () {
             $('.loading').hide();
             ajaxRequest();
         });
         $('.form_collection').collection({
             //descreve as variaveis para não usar o thema padrao jquery.collection
             prototype_name: '{{ form.etiquetas.vars.prototype.vars.name }}',
             allow_add: true,
             allow_remove: true,
             name_prefix: '{{ form.etiquetas.vars.full_name }}',
             //cudtomiza a exibição dos botoes
             up: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>',
             down: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>',
             add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
             remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>',
             allow_duplicate: false,
             allow_up: false,
             allow_down: false,
             //adiciona evento as novas linhas
             after_add: function (collection, element) {
                 ajaxRequest();
             },
         });

     </script>
     <script type="text/javascript">


         document.getElementById("link_etiqueta_avulso").className = "nav-link active";
         document.getElementById("nav_etiquetas").className = "nav-item menu-is-opening menu-open";
         document.getElementById("nav_etiquetas_active").className = "nav-link active";


         function ajaxRequest() {
             $("input[name*='codigo']").on('focusout', function () {
                 $('.loading').show();
                 //pega o DOM que possui o id ex etiquetas_etiquetas_0_idProduto
                 var nome = $(this).attr('id');
                 //o nome é o mesmo só mudando onde era código pelo DOM especifico
                 var DOM_idcodigo = nome.replace("codigo", "idProduto");
//                 var DOM_descricao = nome.replace("codigo", "descricao");
                 var DOM_preco = nome.replace("codigo", "preco");
                 var DOM_descEtiqueta = nome.replace("codigo", "descEtiqueta");
                 // var DOM_dataVenc = nome.replace("codigo", "data");
                 var DOM_qtde = nome.replace("codigo", "qtde");
                 $("#" + DOM_qtde).focus();
                 $.ajax({
                     url: "/request/tiny/produto",
                     type: "POST",
                     data: {
                         'codigo': $(this).val()
                     },
                     success: function (data) {
                         $("#" + DOM_idcodigo).val(data.idproduto);
                         $("#" + nome).val(data.codigo);
                         $("#" + DOM_preco).val(data.preco);
                         $("#" + DOM_descEtiqueta).val(data.descEtiqueta);
                         $('.loading').hide();
                     },
                     statusCode: {
                         404: function (xhr) {
                             toastr.error(xhr.responseText)
                         },
                         500: function (xhr) {
                             toastr.error(xhr.responseText)
                         },
                         406: function (xhr) {
                             toastr.error(xhr.responseText)
                         },
                     },
                 });
             })
                 .autocomplete({
                     source: function (request, response) {
                         $.ajax({
                             statusCode: {
                                 404: function () {
                                     toastr.error('Produto não encontrado');
                                 },
                                 500: function () {
                                     toastr.error('Servidor retornou erro 500');
                                 }
                             },
                             type: "POST",
                             url: "/request/tiny/produto/descricao",
                             data: {term: request.term},
                             success: response,
                             dataType: 'json',
                         });
                     },
                     minLength: 2,
                     delay: 1000,
                     focus: function (event, ui) {
                         $(event.target).val(ui.item.value);
                         return false;
                     },
                     select: function (event, ui) {
                         $("input[name*='codigo']").html(ui.item.label);
                         return false;
                     }
                 });
         }
     </script>
 {% endblock %}







