{% extends 'base.html.twig' %}
{% block page_content_header %}
    <div class="col-sm-6">
        <h6 class="m-0">Itens da Nota Fiscal - Número: {{ nota.numero }} - {{ nota.nome }}
            - {{ nota.data }}</h6>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('etiquetas_listanf') }}">Etiquetas / Notas Fiscais</a></li>
            <li class="breadcrumb-item"><a>Itens NF</a></li>
        </ol>
    </div><!-- /.col -->
{% endblock %}


{% block page_content %}
    <div class="col-md-12">

        {% form_theme form 'bootstrap_3_layout_small.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="table-responsive">
            <table class="table ">
                <thead>
                <tr>

                    <th>Código</th>
                    <th>Id</th>
                    <th>Descrição Etiqueta</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>

                {% for etiqueta in form.etiquetas %}

                    <tr>
                        <th scope="row">
                            {{ form_row(etiqueta.codigo, { 'label':false, 'attr':{'readonly':'true','style':'max-width: 25ch'} }) }}</th>
                        <td>{{ form_row(etiqueta.idProduto, {'label':false, 'attr':{'style':'width: 20ch'} }) }}</td>
                        <td>{{ form_row(etiqueta.descEtiqueta, {'label':false, 'attr':{'style':'width: 60ch'} }) }}</td>
                        <td>{{ form_row(etiqueta.preco, { 'label':false }) }}</td>
                        <td>{{ form_row(etiqueta.qtde, { 'label':false, 'attr':{'style':'width: 15  ch'}}) }}</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="form-check" id="div-check">
            <input type="checkbox" id="zerarCheckBox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Zerar Quantidades?</label>
        </div>
        <br>

        <div style="align-content: center">
            {{ form_widget(form.Imprimir,{'label':'Imprimir Etiquetas'}) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}


 {% block javascripts %}

     <script>

         $('document').ready(function () {
             document.getElementById("link_listanf").className = "nav-link active";
             document.getElementById("nav_etiquetas").className = "nav-item menu-is-opening menu-open";
             document.getElementById("nav_etiquetas_active").className = "nav-link active";
         });
     </script>
     <script>
         $("#zerarCheckBox").click(function (event) {
             $("input[name*='qtde']").each(function () {
                 $(this).val("0");
             });
             $("#div-check").fadeOut(600, function () {
                 $(this).remove();
             });
         });
     </script>
 {% endblock %}