<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Argus</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    {# <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}"> #}
    <script src="https://kit.fontawesome.com/c46f4b8baa.js" crossorigin="anonymous"></script>
    <!-- Jquery-UI -->
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />


    <style>
        .ui-autocomplete-loading {
            background: white url("{{asset('images/curves.gif')}}") right center no-repeat;
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Ferramentas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Corrigir Endereços Mapa</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Configurações
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                    <a class="dropdown-item" href="#">Impressora Térmica</a>#}
                    <a href="#offcanvas-impterm" uk-toggle>Impressora Térmica</a>

                </div>
            </li>
        </ul>
    </nav>

    <div id="offcanvas-impterm" uk-offcanvas="flip: true">
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <h3>Title</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        </div>
    </div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="../../index3.html" class="brand-link">
            <img src="{{ asset('dist/img/AdminLTELogo.png') }}"
                 alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Miguel Pescador</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            {# <div class="user-panel mt-3 pb-3 mb-3 d-flex"> #}
            {# <div class="image"> #}
            {# <img src="{{ asset('images/user.png') }}" class="img-circle elevation-2" alt="User Image"> #}
            {# </div> #}
            {# <div class="info"> #}
            {# <a href="#" class="d-block"> #}
            {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
            {# {{ app.user.username }} #}
            {# {% endif %} #}

            {# </a> #}
            {# </div> #}
            {# </div> #}

            <!-- SidebarSearch Form -->
            {# <div class="form-inline"> #}
            {# <div class="input-group" data-widget="sidebar-search"> #}
            {# <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search"> #}
            {# <div class="input-group-append"> #}
            {# <button class="btn btn-sidebar"> #}
            {# <i class="fas fa-search fa-fw"></i> #}
            {# </button> #}
            {# </div> #}
            {# </div> #}
            {# </div> #}

            <!-- Sidebar Menu -->
            {{ include('sidebar_menu.html.twig') }}
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    {% block page_content_header %}
                    {% endblock %}
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    {% block page_content %}

                    {% endblock %}
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {# <footer class="main-footer"> #}
    {# <div class="float-right d-none d-sm-block"> #}
    {# <b>Version</b> 3.1.0 #}
    {# </div> #}
    {# <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved. #}
    {# </footer> #}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Add Content Here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ asset('plugins/chart.js/Chart.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<!-- Toast -->
<script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"
        integrity="sha256-EOB9/pHE8sp1057blFPubwSgoU8Kw3sLGVgNRVLWBZY=" crossorigin="anonymous"></script>


<!-- Page specific script -->
{% block javascripts %}
{% endblock %}
</body>
</html>

