{% extends 'base.html.twig' %}
{% block page_content_header %}
    <div class="col-sm-6">
        <h1 class="m-0">Início</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>

        </ol>
    </div><!-- /.col -->
{% endblock %}
{% block page_content %}

{% endblock %}