<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
        data-accordion="false">
        <li class="nav-header">Menu</li>
        <li id="nav_servico" class="nav-item">
{#            <a id="nav_servico_active" href="#" class="nav-link">#}
{#                <i class="nav-icon fas fa-tools"></i>#}
{#                <p> Serviços#}
{#                    <i class="right fas fa-angle-left"></i>#}
{#                </p>#}
{#            </a>#}
{#            <ul class="nav nav-treeview">#}
{#                <li class="nav-item">#}
{#                    <a id="link_ordemservico" href="{{ path('Ordem_Servico') }}" class="nav-link">#}
{#                        <i class="far fa-circle nav-icon"></i>#}
{#                        <p>Ordem de Serviço</p>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
        <li id="nav_etiquetas" class="nav-item">
            <a id="nav_etiquetas_active" href="#" class="nav-link">
                <i class="nav-icon fas fa-tags"></i>
                <p> Etiquetas
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="link_listanf" href="{{ path('etiquetas_listanf') }}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Produto Nota Fiscal</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="link_etiqueta_avulso" href="{{ path('EtiquetaProdutoAvulso') }}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Produto Avulso</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="link_etiqueta_vara_nf" href="{{ path('ListaNFVaras') }}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Vara Nota Fiscal</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="link_etiqueta_vara_avulsa" href="{{ path('EtiquetaVaraAvulsa') }}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Vara Avulsa</p>
                    </a>
                </li>
            </ul>
        </li>
        <li id="nav_mapa" class="nav-item">
            <a id="nav_mapa_active" href="#" class="nav-link">
                <i class="nav-icon far fa-newspaper"></i>
                <p> Mapa EB
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li id="nav_mapa_sub_consultas" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Consultas</p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a id="link_mapa_consulta_calibre" href="{{ path('mapa_calibre') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Calibre</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="link_mapa_consulta_clientes" href="{{ path('mapa_clientes') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="link_mapa_consulta_produto" href="{{ path('mapa_produto') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Produtos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li  id="nav_mapa_sub_processos" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Processos</p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a id="link_mapa_controle_arma" href="{{ path('mapa_controle_armas') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Controle Armas</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a id="link_mapa_controle_municao" href="{{ path('mapa_controle_municao') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Controle Municao</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a id="link_mapa_mov_municao_manual" href="{{ path('mapa_movimento_municao_manual') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Importação</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a id="link_mapa_mov_municao_manual" href="{{ path('mapa_pedidos_registro') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Registros Pedidos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="nav_mapa_sub_relatorios" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Relatórios</p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a id="link_mapa_rel_municao" href="{{ path('MapaReporteVendasMunicao') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Munição</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="link_mapa_rel_armas" href="{{ path('MapaReportVendasArmas') }}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Armas</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>