<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demonstrativo Inventário de Estoque de Munições </title>

    <script src="https://kit.fontawesome.com/c46f4b8baa.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/print80.css') }}"/>


</head>

<body>


<div class="container-fluid">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th colspan="3" class="text-center">Ordem de Serviço</th>
        </tr>
        <tr>
            <th>Ordem</th>
            <th class="text-center"> {{ ordem.id }}</th>
            <th>{{ ordem.data | date('d/m/Y') }}</th>
        </tr>
        <tr>
            <th>Cliente:</th>
            <th colspan="2" class="text-center">{{ ordem.nome }}</th>
        </tr>
        <tr>
            <th>Tel.</th>
            <th colspan="2"> {{ ordem.telefone }}</th>
        </tr>
        <tr>
            <th colspan="3">{{ ordem.produto }}</th>
        </tr>
        <tr>
            <th colspan="3">{{ ordem.problema }}</th>
        </tr>
        {%  if ordem.orcamento == 1 %}
            <tr>
                <th colspan="3">Somente executar mediante orçamento</th>
            </tr>
        {% endif %}
        {%  if ordem.urgente == 1 %}
        <tr>
            <th colspan="3">SERVIÇO URGENTE</th>
        </tr>
        {% endif %}
        </tbody>
    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>
</html>