{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">


            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ordens de Serviço</h2>
                            <a href="{{ path('Ordem_Servico_CRUD') }}"
                               class="btn btn-primary btn-round active pull-right" role="button">Nova Ordem&nbsp;<span
                                        class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table  data-order='[[ 0, "desc" ]]' class="table table-striped" id="TabelaOrdens">
                                <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Data</th>
                                    <th>Cliente</th>
                                    <th class="text-center">Produto</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ordem in ordens %}
                                    <tr>
                                        <th scope="row">{{ ordem.id }}</th>
                                        <td>{{ ordem.data|date("d/m/Y") }}</td>
                                        <td class="text-uppercase" data-toggle="tooltip"
                                            title="{{ ordem.telefone }}">{{ ordem.nome }}</td>
                                        <td class="text-center" data-toggle="tooltip"
                                            title="{{ ordem.problema }}">{{ ordem.produto }}</td>
                                        <td class="text-center">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a onclick="printOS({{ ordem.id }},this)"
                                                       data-toggle="tooltip" title="Imprimir">
                                                        <i class="fa fa-print" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a onclick="closeOS({{ ordem.id }},this)"
                                                       data-toggle="tooltip" title="Arquivar">
                                                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                                                    </a>
                                                </div>

                                            </div>


                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 {% block javascripts %}
     <script src="{{ asset('vendors/pdfmake/build/pdfmake.min.js') }}"></script>
     <script src="{{ asset('vendors/pdfmake/build/vfs_fonts.js') }}"></script>
     <script src="{{ asset('vendors/bootbox-master/dist/bootbox.min.js')}}"></script>
     <script src="{{ asset('vendors/bootbox-master/dist/bootbox.locales.min.js')}}"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>
     <script type="text/javascript">

         function printOS(id, el) {
             var ordemServico;
             var isUrgent = "";
             var isOrcamento = "";
             $.ajax({
                     url: "/v1/os",
                     type: "POST",
                     data: {'os': id},
                     dataType: 'json',
                     success: function (response) {
                         ordemServico = response;
                         if (response.urgente === true) {

                             isUrgent = 'Urgente!';
                         } else {
                             isUrgent = ''
                         }
                         if (response.orcamento === true) {
                             isOrcamento = 'Executar reparo mediante aprovação de orçamento'
                         } else {
                             isOrcamento = ''
                         }

                         var dd = {
                             pageSize: {
                                 width: 226.57, height: 'auto'
                             },
                             pageOrientation: 'portrait',
                             pageMargins: [15, 0, 12, 15],
                             content: [
                                 {
                                     text: 'Ordem Serviço ' + response.id,
                                     style: 'subheader1'

                                 },
                                 '\n',
                                 {
                                     columns: [
                                         {
                                             text: 'Data:' + response.data,
                                             style: 'subheader'
                                         },
                                         {
                                             text: '',
                                             style: 'subheader'
                                         }
                                     ]
                                 },
                                 {
                                     text: 'Cliente: ' + response.nome,
                                     style: 'subheader'
                                 },
                                 {
                                     text: 'T: ' + response.telefone,
                                     style: 'subheader'
                                 },
                                 '\n',

                                 {
                                     text: 'Produto: ' + response.produto,
                                     style: 'subheader1'
                                 },
                                 '\n',
                                 {
                                     text: 'Defeito: ' + response.problema,
                                     style: 'subheader1'
                                 },
                                 '\n',
                                 {
                                     columns: [
                                         {
                                             text: isUrgent,
                                             style: 'subheader'
                                         },
                                         {
                                             text: isOrcamento,
                                             style: 'subheader'
                                         }
                                     ]
                                 },
                                 '\n',
                                 {
                                     text: 'Pagamento de serviços somente em dinheiro.',
                                     style: 'subheader'
                                 }

                             ],
                             styles: {
                                 header: {
                                     fontSize: '25',
                                     bold: 'true'
                                 },
                                 subheader: {
                                     fontSize: '14',
                                 },
                                 subheader1: {
                                     fontSize: '17',
                                 }
                             }

                         };

                         pdfMake.createPdf(dd).print();
                     }
                 }
             )


         }

         function closeOS(id, el) {
             bootbox.confirm({
                 message: "Encerrar ordem de serviço?",
                 buttons: {
                     confirm: {
                         label: 'Encerrar',
                         className: 'btn-success'
                     },
                     cancel: {
                         label: 'Cancelar',
                         className: 'btn-danger'
                     }
                 },
                 callback: function (result) {
                     if (result == true) {
                         $.ajax({
                                 url: "/closeOS",
                                 type: "POST",
                                 data: {'os': id},
                                 success: function (id) {
                                     $(el).closest('tr').fadeTo("slow", 0.5, function () {
                                         $(this).remove();
                                     });
                                 }
                             }
                         )
                     }
                     ;
                 }
             });

         }

         $(document).ready( function () {
             $('#TabelaOrdens').DataTable({
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                 },
             });
         } );
     </script>
 {% endblock %}